@import './common/mixin.scss';
@import "./common/animation.scss";

@include b(icon) {
    vertical-align: middle;
    .#{$state-prefix}disabled {
        cursor: not-allowed;
        fill: $--color-disabled;
    }
    .icon-loading {
        animation: rotating 1s infinite linear;
    }
}