@import './common/var.scss';
@import './common/extend.scss';
@import './common/mixin.scss';
@import './config/index.scss';

@include b(input-number) {
    cursor: pointer;
    align-items: center;
    display: inline-flex;
    background-color: white;
    transition:all .1s;
    &:hover {
      z-index: 6;
      transform: scale(1.2);
    }
    @include commonShadow($--color-black);
    @include e(add) {
        padding: 4px 6px;
        @include flexCenter();
    }
    @include e(reduce) {
        padding: 4px 6px;
        @include flexCenter();
    }
    @include e(input) {
        border: none;
        outline:none;
        display: block;
        text-align: center;
        width:60px;
        height: 20px;
    }
}