@import './common/var.scss';
@import './common/extend.scss';
@import './common/mixin.scss';

@include b(rate) {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;

    @include e (dark) {
        height: 100%;
        display: flex;
        align-items: center;
        transition: all .3;
    }

    @include e (bright) {
        height: 100%;
        display: inline-flex;
        position: absolute;
        align-items: center;
        left: 0;
        top: 0;
        flex-wrap: nowrap;
        overflow: hidden;
        transition: all .3;
    }

    @include e(score) {
        margin-left: 6px;
    }

    @include e(box) {
        border: 1px solid transparent;
    }

    @include m(big) {
        transform: scale(.8)
    }
}