@keyframes rotating {
    0% {
      transform: rotateZ(0deg);
    }
    100% {
      transform: rotateZ(360deg);
    }
  }

  @keyframes size {
    0% {
      transform:scale(.9);
    }
    100% {
      transform: scale(1.1);
    }
  }