// @import 'common/var';

li,
ul {
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// 干掉input框typr=number时的上下按钮
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type="number"] {
    -moz-appearance: textfield;
}

 // toast
.leave-leave-active {
    transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.leave-leave-to {
    transform: translateX(10px);
    opacity: 0;
}
// 渐隐渐现
.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
  }